// @import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

// @font-face {
//   font-family: "Averta";
//   src: url("../../assets/Fonts/AvertaNormal.otf");
// }

// body {
//   font-family: "Averta";
// }

//default
.text {
  font-size: 14px;
  line-height: 20px;
  color: $black;
}

.bold {
  font-weight: bold !important;
}
.fw-n {
  font-weight: normal !important;
}

.italic {
  font-style: italic;
}

//Headers
.sm-header {
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.4px;
  color: #132142;
}

.md-header {
  font-weight: bold;
  font-size: 1.5rem; //24px
  line-height: 32px;
  color: #22345e;
}

//Sizes
.text-xs {
  font-size: 0.75rem !important; //12px
}

.text-sm {
  font-size: 1rem !important; //16px
}
.text-md {
  font-size: 1.25rem !important; //20px
}

.text-xl {
  font-size: 1.5rem !important; //24px
}

.text-xxl {
  font-size: 2rem !important; //32px
}

.text-xxxl {
  font-size: 2.5rem !important; //40px
}

//Add colors Here
.text-white {
  color: white;
}

.text-black {
  color: $black;
}
.text-light-gray {
  color: $light-gray;
}
.text-gray {
  color: $gray;
}
.text-dark-gray {
  color: $dark-gray;
}

.text-blue-100 {
  color: $light-blue;
}
.text-blue {
  color: $blue !important;
}

.text-red {
  color: $red !important;
}

.text-green {
  color: $green !important;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.text-secondary-font {
  font-family: "Mulish", sans-serif;
}
