.btn {
  line-height: 1.25rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  border-radius: 2px;
  &-primary {
    padding-block: 14px;
    font-size: 14px;
    background: $blue;
  }
  &-secondary {
    font-size: 12px;
  }

  &-modal {
    width: 320px;
  }
}
