.checkbox-label {
  position: relative;
  cursor: pointer;
  margin: 0px 20px;
  input[type="radio"] {
    display: none;
    &:checked {
      & + .custom-checkbox {
        background: #22345e;
      }
    }
  }
}
.new-order-content {
  height: 100%;
  background-color: white;
}
.custom-checkbox {
  position: relative;
  border-radius: 50%;
  clear: both;
  display: inline-block;
  width: 18px;
  cursor: pointer;
  height: 18px;
  border: 2px solid #c5c7cd;
}

.cont1{
  position: absolute;
  left: 50%;
  top:150%;
  transform: translate(-50%, -50%);
  width:30rem;
}
.form-group{
  position: absolute;
  left: 50%;
  top: 200%;
  transform: translate(-50%, -50%);
}