.checkbox-label {
position: relative;
cursor: pointer;
.custom-checkbox {
    position: relative;
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #c5c7cd;
}
input[type="radio"] {
    display: none;
    &:checked {
    & + .custom-checkbox {
        background: #22345e;
    }
    }
}
}
.cursor1:hover{
    background-color:red !important;
}