div.forwarded-person-card {
    /* float: left; */
    background-color: dodgerblue;
    border-radius: 2px;
    color: white;
    position: relative;
    margin: 1px 2px;
    transition: all 0.5s;
    height: 28px;
  }


div.forwarded-person-card>div {
    padding: 5px;
    float: left;
  }
  
div.forwarded-person-card>div>svg {
  display: block;
  margin: auto;
}

div.forwarded-person-card>div:first-of-type {
  height: 100%;
  cursor: pointer;
}

.forwarded-person-card2:hover{
  background-color: gray;
}

.forwarded-person-card21:hover{
  background-color: rgb(253,200,86) !important;
}


.forwarded-person-card2>div:first-of-type {
  height: 100%;
  cursor: pointer;
}

div.forwarded-person-card{
  width: fit-content;
}


.cursor1:hover{
  background-color:#e63b3b !important;
}