span.department-name {
    font-size: 12px;
    font-weight: bold;
    color: steelblue;
    float: left;
    position: relative;
    z-index: 0;
    background: whitesmoke;
    padding: 2px 5px 2px 2px;
    border-radius: 3px;
}

div.reviewers-container {
    padding: 1rem
}

div.reviewers-container>div {
    float: left;
    margin-right: 1rem;
    color: white;
    background-color: lightblue;
    padding: 8px 1rem;
    border-radius: 5px;
    cursor: pointer;
}