.table {
    list-style-type: none;
    padding: 0px;
    margin: 40px 0px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.table>li {
    display: flex;
}

.table>li:nth-of-type(2n) {
    background-image: linear-gradient(to bottom, #f1f1f1, #e1e1e1);
}

i {
    color: #ffaa00;
    font-weight: bold;
    font-size: inherit;
}

.sidebar-button-wrap {
    position: fixed;
    right: 0;
    top: 0px;
    bottom: 0px;
    width: 200px;
    transform: translateX(200px);
    transition: all 1000ms;
    box-shadow: 0px 0px 5px 3px rgb(32 32 32 / 20%);
    background-color: rgba(248, 244, 244, 50%);
    backdrop-filter: blur(6px);
    z-index: 4;
}
div.direction{
    width: 150px;
}
div.direction[name="forward"] {
    background-color: #27ae60;
}
div.direction[name="forward"]:active {
    background-color: #187940;
}
div.direction[name="back"] {
    background-color: #eb5757;
}
div.direction[name="back"]:active {
    background-color: #9c2929;
}
.sidebar2 {
    top: 0;
    bottom: 0;
    padding: 58px 0px 60px 0px;
    position: fixed;
    width: 200px;
    z-index: 3;
    overflow: auto;
}

.sidebar3 {
    top: 200px;
    bottom: 0;
    position: fixed;
    z-index: 3;
    right:0;
    /* bottom:300px; */
    max-height: 250px;
    overflow: auto;
    background-color: rgb(244, 180, 0);
}

.participantsR>li:first-of-type {
    background-color: #D93404;
    color: white;
    font-weight: 600;
    overflow: hidden;
  }
  
  .participantsR>li:not(:first-of-type):nth-of-type(2n) {
    background-color: rgba(0, 0, 0, 0.1);
    color: #222222;
  }
  
  .participantsR>li>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 25%;
    padding: 10px 20px;
    height: auto;
  }
  
  .participantsR>li>div:first-of-type {
    text-align: left;
  }
  
  .participantsR>li:not(:first-of-type) {
    height: 50px;
    overflow: hidden;
  }


.sidebar-button-wrap>div:first-of-type {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translate(0, -50%);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3))
}

.sidebar-button-wrap:hover {
    transform: translateX(0px);
}

.sidebar-button {
    background-color: rgb(255, 174, 0);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 10px;
    z-index: 1;
    clip-path: polygon(42% 0, 42% 100%, 0 100%, 0 0);
}

.greater-than-icon {
    position: absolute;
    top: 38%;
    fill: white;
}

.order-card {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    width: 170px;
    height: 150px;
    background-color: #e8e8e8;
    border-radius: 7%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    backdrop-filter: blur(10px);
    transition: all 1s;
}

.order-card-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
}

.order-card-wrapper {
    border-radius: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    transition: all .4s;
}

.order-card:hover {
    background-position: bottom;
    background-image: linear-gradient(white, #62abcc34);
}

.order-card-close-button {
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    transition: all 200ms;
    z-index: 1000;
}

.order-card-close-button:hover {
    background-color: rgba(223, 43, 58, 0.89);
}

.close-button-card {
    fill: white;
}

.order-card-info-wrapper {
    position: relative;
    padding: 30px 0;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration-color: white;
}

div.my-orders-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    right: 0;
    margin: auto;
    background-color: rgb(64, 168, 196);
    height: 60px;
}

div.my-orders-footer svg {
    color: white;
}

.order-card-info {
    color: black;
    padding: 3px;
    margin-top: 2px;
    font-weight: 400;
}

.order-card-info-number {
    text-align: center;
    color: white;
}

.order-card-info-number-wrap {
    height: 26px;
    width: 170px;
    background-color: rgb(64, 168, 196);
    transform: translateY(-30px);
}

.order-card-info-additional {
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 30px;
    background-color: #f0eaea;
    transform: translateY(-25px);
    margin-top: 3px;
    font-size: 13px;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.08);
}

div.sel-dep-list {
    float: left;
    margin-left: 10px;
    background-color: #188bc0;
    padding: 6px 12px;
    border-radius: 3px;
    margin-top: 6px;
    color: white;
    opacity: 0;
    font-weight: bold;
    animation: fade-in 400ms ease-in both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div.filial-name-header {
    font-size: 24px;
    font-weight: 600;
    align-self: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.table>li:not(:first-child)>div:last-of-type {
    padding: 2px 0px;
    height: 24px;
    position: relative;
}

div.sender-comment {
    max-width: 1024px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 16px;
    font-size: 28px;
    text-align: left;
}

.table>li:not(:first-of-type)>div:nth-of-type(8):hover div {
    display: block;
}

.table>li:first-child {
    font-weight: 600;
    padding: 15px 0px;
    height: auto;
    background-color: rgb(24, 139, 192);
    color: #faf0f0;
}

.table>li:not(:first-child) {
    font-weight: 450;
    padding: 2px 0px;
    color: #505050;
}

.action-container {
    width: 100px;
    background-color: white;
    border: 0.49px solid #a1a1a1;
    z-index: 1;
    display: block;
    position: absolute;
    transition: all 0.1s;
    border-radius: 3px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0px 0px 10px 1px #c1c1c1;
}

.action-container>ul {
    overflow: hidden;
    list-style-type: none;
    padding-left: 0px;
    padding: 2px 0px;
}

.action-container>ul>li {
    padding: 1px 15px;
    text-align: left;
}

.action-container>ul>li:hover {
    background-color: dodgerblue;
    color: white;
}

.status-container {
    padding: 20px;
    background-color: #eeeeee;
    border: 1.5px #d1d1d1 solid;
    margin: 20px 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center
}

.icon-container {
    background-color: #0F9D58;
    display: flex;
    height: 60px;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    border-radius: 50%;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.status-container>div:not(.icon-container) {
    height: 15px;
    border-radius: 3px;
    flex-grow: 1;
    margin: 0px 2px;
    background-color: #0F9D58;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

div.header-container {
    display: flex;
    flex: 1;
    min-width: 600px;
    flex-flow: column wrap;
}

div.header-container>div:not(:first-of-type):not(:last-of-type) {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
}

div.header-container>div:not(:first-of-type):not(:last-of-type) {
    height: 30px;
}

div.header-container>div:not(:first-of-type):not(:last-of-type)>div {
    padding: 3px 10px;
}

div.header-container>div:not(:last-of-type) {
    display: flex;
    border-collapse: collapse;
    flex-flow: row wrap;
}

div.header-container>div:first-of-type {
    height: 150px;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
}

div.header-container>div:first-of-type>div {
    height: 100%;
    font-weight: 600;
    line-height: 150px;
}

div.header-container>div:not(:last-of-type)>div:first-of-type {
    padding: 5px 10px;
    width: 50px;
    border-color: gray;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}

div.header-container>div:not(:last-of-type)>div:not(:first-of-type) {
    border-color: gray;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    flex: 1;
    font-size: 14px;
}

div.header-container>div:not(:last-of-type)>div:nth-last-of-type(2), div.header-container>div:not(:last-of-type)>div:last-of-type {
    max-width: 100px;
}

div.header-container>div:last-of-type {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}

div.header-container>div:last-of-type>div:first-of-type {
    height: 20px;
    overflow: hidden;
    padding: 1px;
}

div.header-container>div:last-of-type>div:not(:first-of-type) {
    border-width: 1px 1px 0px 0px;
    overflow: hidden;
    height: 20px;
    border-color: gray;
    border-style: solid;
}

.protex-order-header-container {
    overflow: hidden;
    margin: 35px 50px;
}

.protex-order-header-container>h1 {
    font-size: 26px;
    text-align: left;
    color: #606066;
    margin: 0px;
    float: left;
}

.protex-order-header-container>span>svg {
    margin-left: 20px;
}

.protex-order-header-container>span {
    font-size: 24px;
    font-weight: 600;
    color: gray;
    float: right;
}

.protex-order-header-container>svg {
    vertical-align: middle;
}

.protex-order-header-container>h1>svg {
    margin-left: 7px;
    color: #f8942a;
    cursor: pointer;
}

.protex-order-header-container>h1>svg:hover {
    color: #ffb362;
}

.order-table-protex+div.review-container {
    margin: 20px 0px;
    padding: 20px
}

.order-table-protex+div.review-container>textarea {
    display: block;
    border-color: gray;
    width: 100%;
    clear: both;
    border-radius: 3px;
    min-height: 50px;
}

.order-table-protex+div.review-container>div {
    margin-top: 50px;
    color: white;
    cursor: pointer;
    float: right;
    border-radius: 2px;
    background-color: teal;
    padding: 10px 20px;
    min-width: 170px;
}

.order-table-protex {
    margin-top: 20px;
}

.order-table-protex>li>div {
    display: flex;
    align-items: center;
}

.order-table-protex>li>div>span {
    text-align: left;
}

.order-table-protex>li:first-of-type {
    border-bottom-left-radius: 0px;
    background-image: linear-gradient(to bottom, #ac9e9e, gray);
}

.order-table-protex>li>div:not(:first-of-type) {
    flex: 1;
}

.material-model-list {
    position: absolute;
    top: 3rem;
    max-height: 108px;
    overflow: auto;
    display: none;
    width: 150%;
    border-radius: 3px;
    /* padding: 0.5rem 0px; */
    z-index: 2;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    list-style-type: none;
}

.material-model-list>li {
    color: gray;
    cursor: pointer;
    border: 1px solid white;
    background-color: whitesmoke;
    padding: 5px 8px;
    text-align: left;
}
.material-model-list>li:first-of-type{
    margin-top: 0.5rem;
}
.material-model-list>li:last-of-type {
    margin-bottom: 0.5rem;
}
.material-model-list>li:hover {
    background-color: #1a73e8;
    color: white;
}