.sidebar{
   
    position:fixed;
    right:-200px;
    top:58px;
    bottom:60px;
    width:200px;
    

}
.sidebar2{
    position:absolute;
    background-color:black;
    
    right:0;
    top:58px;
    bottom:60px;
    width:200px;
    z-index: 200;

}
.sidebar-button{
    position:absolute;
    background-color:red;
    clip-path: circle(50% at 100% 50%);
    width:70px;
    height:70px;
    

    
      
        top: 50%;
        transform: translate(0, -50%);
     
        padding: 10px;
        left:-60px;
        z-index: 100;
        

}


@keyframes slide-left {
   from {right:-200px}
   to {right:0px}
}