.modal {
  z-index: 3;
  padding-top: 170px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: blur-in 0.2s ease-in-out both;

  .modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    animation: modal-show 0.5s ease-in-out both;


    // max-width: 928px;
    max-width : 80em;
    .modal-container {
      padding: 118px 64px;
    }
    @keyframes modal-show {
      from {
        transform: none;
      }
      to {
        transform: translate3d(0px, 50px, 0);
      }
    }
  }

  .close-btn {
    position: absolute;
    right: 0;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
    border-radius:6px;
    color:red;
  }

  .close-btn:hover{
    color:black;
    background-color: red;
  }

  .minimize-btn{
    position: absolute;
    right: 50px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
    // border:1px solid rgb(255, 174, 0);
    border-radius:6px;
    color: rgb(255, 174, 0);
  }

  .minimize-btn:hover{
    background-color: rgb(255, 174, 0);
    color: black;
  }
}
