.notification_wrapper{
    overflow:hidden;
    height: fit-content;
    width: 350px;
    position: fixed;
    display: block;
    z-index:1000;
    
}
.notification_bar{
    border-radius: 15px;
    position:relative;
    margin-bottom:10px;
    background-color:red;
    
}

.text{
    display:inline-block !important;
    color:black;
    text-align:center;
    height:60px;
    line-height: 60px;
    width:200px;
 
}


.exit_button{
    font-size: 18px;
    position:absolute;
    right:0;
    background-color: red;
    padding: 0;
    border: none;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    height:60px;
    display:inline-block !important;
    text-align:center;
    height:60px;
    line-height: 60px;
    width:200px;

    width:40px;
    
}
.exit_button:hover{
    background-color: beige;

}
.display_hide{
    display:none;
}